.hpgf_bg {
  background: url(../img/slider-background.jpg);
}

section.hpgf_normal-width {
  width: 100%;
}

section.hpgf_slider-container {
  margin: 0 auto;
  position: relative;
  min-height: 79vh;
  overflow: hidden;
}

ul.hpgf_slider-items {
  display: flex;
  justify-content: space-between;
}

section.hpgf_slider-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

h2.hpgf_slider-title {
  font-size: 2.6rem;
  color: #d95b44;
  font-weight: 700;
  line-height: 3rem;
  text-align: left;
  margin-top: 0.6rem;
  margin-bottom: 1.4rem;
  text-shadow: 0px 1px 0 #000;
}

p.hpgf_slider-paragaph {
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #a7a7a7;
}

/* homepage carousel indicator  styles  */

ul.hpgf_slider-tab-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

section.hpgf_slider-tab-object {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 0.3rem 0.5rem;
  font-size: 14px;
  border-radius: 3px;
  transition: background 0.6s linear;
  text-shadow: 0px 1px 0px #000;
}
.hpgf_slider-tab-item {
  cursor: pointer;
}

.active_indicator {
  background-color: rgb(18 17 17 / 64%);
  border-radius: 3px;
}
