.hpgf_bg {
  background: url(../img/slider-background.jpg);
}

section.hpgf_normal-width {
  width: 100%;
}

section.hpgf_slider-container {
  margin: 0 auto;
  position: relative;
  min-height: 79vh;
  overflow: hidden;
}

ul.hpgf_slider-items {
  display: flex;
  justify-content: space-between;
}

section.hpgf_slider-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

h2.hpgf_slider-title {
  font-size: 2.6rem;
  color: #d95b44;
  font-weight: 700;
  line-height: 3rem;
  text-align: left;
  margin-top: 0.6rem;
  margin-bottom: 1.4rem;
  text-shadow: 0px 1px 0 #000;
}

p.hpgf_slider-paragaph {
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #a7a7a7;
  /* text-shadow: 0px 1px 0px #000; */
}
