.hpgf_bg {
  background: url(../img/slider-background.jpg);
}

section.hpgf_normal-width {
  width: 100%;
}

section.hpgf_slider-container {
  margin: 0 auto;
  position: relative;
  min-height: 79vh;
  overflow: hidden;
}

ul.hpgf_slider-items {
  display: flex;
  justify-content: space-between;
}

section.hpgf_slider-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

h2.hpgf_slider-title {
  font-size: 2.6rem;
  color: #d95b44;
  font-weight: 700;
  line-height: 3rem;
  text-align: left;
  margin-top: 0.6rem;
  margin-bottom: 1.4rem;
  text-shadow: 0px 1px 0 #000;
}

p.hpgf_slider-paragaph {
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #a7a7a7;
}

/* homepage carousel indicator  styles  */

ul.hpgf_slider-tab-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

section.hpgf_slider-tab-object {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 0.3rem 0.5rem;
  font-size: 14px;
  border-radius: 3px;
  transition: background 0.6s linear;
  text-shadow: 0px 1px 0px #000;
}
.hpgf_slider-tab-item {
  cursor: pointer;
}

.active_indicator {
  background-color: rgb(18 17 17 / 64%);
  border-radius: 3px;
}

/*
*homepage main css all styles.
*/
/**
*hpgf experionce block all styles
*/
section.hpgf_experience-box {
  margin-top: 2rem;
}
section.hpgf_experience-wrapper {
  margin: auto;
}

h1.hpgf_experience-title {
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.ex_web,
.ex_mobile {
  color: #d95b44;
}

ul.hpgf_experience-items {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

section.hpgf_experience-obj {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}

img.experience_img {
  background-color: #d95b4f;
  border-radius: 50%;
}

h2.experience_title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #646464;
  letter-spacing: 1px;
  line-height: 1.3rem;
}

p.experience_paragaph {
  line-height: 1.3rem;
}

section.hpgf_middle-space {
  height: 40px;
}

/*
*hpgf feature block all styles;
*/
.hpgf_feature-wrapper {
  margin: 0 auto 2rem;
}

section.hpgf_title-box {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

figure.hpgf_title-icon-wrapper {
  width: 40px;
  background-color: #d95b4f;
  border-radius: 50%;
}

img.title_icon {
  display: block;
  width: 100%;
}

h3.hpgf_feature-title {
  display: inline-block;
  font-size: 1.3rem;
  color: #646464;
}

ul.hpgf_feature-items {
  display: flex;
  gap: 20px;
  flex-direction: row;
}
section.hpgf_feature-items-box {
  position: relative;
}
section.hpgf_feature-items-wrapper {
  overflow: hidden;
}

h4.hpgf_feature-title {
  padding: 0.5rem 0;
  font-size: 15px;
}

p.hpgf_feature-paragaph {
  line-height: 1.3rem;
}

a.hpgf_feature-absolute-icon-link {
  display: block;
  position: absolute;
  background: url(../icons/zoom.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  color: #646464;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0s ease;
}

figure.hpgf_img-container {
  position: relative;
}

a.hpgf_feature-absolute-icon-link:hover {
  background-position: 0 -100px;
}

section.feature_move-left,
section.feature_move-right {
  width: 27px;
  height: 27px;
  background: transparent url(../icons/carousel_angle_indicator.png) 0 0
    no-repeat;
  position: absolute;
  z-index: 10;
  display: block;
  border-radius: 2px;
  top: 30%;
  transition: all 0s ease;
  cursor: pointer;
}

section.feature_move-left {
  left: -12px;
}

section.feature_move-left:hover {
  background-position: 0 -27px;
}

section.feature_move-right {
  right: -12px;
  background-position: -27px 0;
}

section.feature_move-right:hover {
  background-position: -25px -27px;
}
